.advantages {
    background: #222224;
    width: 1600px;
    height: 341px;
    margin: 96px auto 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__items {
        width: 360px;
        text-align: center;
    }
    
    &__image {
        padding-top: 87px;
    }
    
    &__heading {
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        padding-top: 25px;
    }
    
    &__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        padding-top: 16px;
    }
}

