.promo {
    height: 764px;
    width: 1600px;
    margin: 0 auto;
    background-image: url(../../img/main-img.png);
    background-repeat: no-repeat;
    background-color: #F1E4E6;

    &__slogan {
        padding-top: 290px;
        padding-left: 738px;
    }
    
    &__heading {
        padding-left: 16px;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        border-left: 12px solid #F16D7F;
    }
    
    &__heading--great {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    
    &__heading--colored {
        color: #F16D7F;
    }
}

